{% load custom_tags %}
{% now "Y-m-d" as today %}

{% if today <= "2026-07-15" %}
    <div class="row mb-3">
      <div class="col col-12 col-md-12 mx-auto">
              <div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
                <span class="alert-inner--text"><span class="fw-bold">{% countdown_july_15 %} avant le vote de la loi sur la fin de vie 📆</span>
                    <br class="d-md-none">
                    Priez pour un député <a class="link-info" style="text-decoration: underline;" href="https://app.adjust.com/1apqbfti?campaign=so_depute_euthanasie-tp_free_one_way_communication-o_lp_ope_depute_euthanasie-d_2026_06_25&adgroup=confessio_fr&creative=website&redirect=https%3A%2F%2Fpriepourundepute.fr%2F?utm_source=1apqbfti%26utm_campaign=so_depute_euthanasie-tp_free_one_way_communication-o_lp_ope_depute_euthanasie-d_2026_06_25%26utm_medium=confessio_fr%26utm_term=website">ici</a> 🙏🏻</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
      </div>
    </div>
{% endif %}
