{% extends 'layouts/moderation_card.html' %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Issue' %}

    Website: {{ issue.website.name }}<br>
    Content: {{ issue.content|urlize|linebreaksbr }}<br>
    {% for comment in comments %}
        Comment ({{ comment.created_at|date:"d M Y" }}): {{ comment.content|urlize|linebreaksbr }}<br>
    {% endfor %}
    Link: <a href="{% url 'website_view' issue.website.uuid %}#previous-reports" target="_blank">Go to issue</a>

    {% include 'moderations/_footer.html' %}
{% endblock card %}
